* {
  box-sizing: border-box;
}

:root {
  --another-blue: #40739e;
}

.another-blue {
  color: var(--another-blue);
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  background-color: #2d3436;
  height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.container {
  height: 600px;
  width: 700px;
  background-color: #dcdde1;
  border-radius: 2px;
  padding: 32px;
}

.frame {
  border: 1px solid #636e72;
  border-radius: 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: flex-start;
}

.header-title {
  flex: 1;
  text-align: center;
  font-size: 3.6rem;
  font-family: "Bebas Neue", cursive;
  text-transform: lowercase;
}

.header-btn {
  font-size: 1.8rem;
  font-family: "Economica", sans-serif;
  text-transform: uppercase;
  padding: 20px;
  background: unset;
  border: unset;
  outline: unset;
}
